<div th:fragment="menu" class="sidebar">

    <div class="logo">
        <img th:src="@{/img/labamigo-logo.png}" alt="LabAmigo">
    </div>

    <ul class="sidebar-menu">

        <li>
            <a th:href="@{/}">
                <i class="bi bi-house"></i>
                Início
            </a>
        </li>

        <li>
            <a th:href="@{/roteiros}">
                <i class="bi bi-journal-text"></i>
                Roteiros Experimentais
            </a>
        </li>

        <li>
            <a th:href="@{/execucoes}">
                <i class="bi bi-play-circle"></i>
                Execuções
            </a>
        </li>

        <li>
            <a th:href="@{/insumos}">
                <i class="bi bi-eyedropper"></i>
                Insumos
            </a>
        </li>

        <li>
            <a th:href="@{/movimentacoes}">
                <i class="bi bi-arrow-left-right"></i>
                Movimentações
            </a>
        </li>

        <li>
            <a th:href="@{/estoque}">
                <i class="bi bi-box-seam"></i>
                Estoque
            </a>
        </li>

        <li>
            <a th:href="@{/relatorios}">
                <i class="bi bi-graph-up"></i>
                Relatórios
            </a>
        </li>

        <li>
            <a th:href="@{/usuarios}">
                <i class="bi bi-people"></i>
                Usuários
            </a>
        </li>

        <li>
            <a th:href="@{/configuracoes}">
                <i class="bi bi-gear"></i>
                Configurações
            </a>
        </li>

    </ul>

    <script>
        (function () {
            var path = window.location.pathname;
            document.querySelectorAll('.sidebar-menu a').forEach(function (a) {
                var href = a.getAttribute('href');
                if (href === path || (href !== '/' && path.indexOf(href) === 0)) {
                    a.classList.add('active');
                }
                if (path === '/' && href === '/') {
                    a.classList.add('active');
                }
            });
        })();
    </script>

</div>
